.login{
    border-radius: 4%;    background-color: #D7F5F4;text-align: center;
    max-width: 360px; height:360px;display:flexbox;margin-top: 5cm; margin-left: 15cm;margin-right: 15cm;
    font-family: Helvetica, sans-serif;font-size: 25px; 
    
    }
    
.texto{font-size: 15px; margin-top: 0.5cm; text-align: left;margin-left: 25px;}

.class_email,.class_senha{width: 6.5cm; margin-top: 0.2cm;}

.botao_entrar{background-color: #24938c;width: 250px;margin-top: 30px; border-radius: 3cm;color: white;
        font-size: 15px;font-family: Helvetica;}

.nav_fechar{margin-left:1300px;}